<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>メモアプリ</title>
</head>
<body>
  <h1>メモアプリ</h1>
  <form method="get" action="/new">
    <input type="submit" class="submit-button" value="追加">
  </form>
  <% @memos.each do |memo| %>
    <ul>
      <li><a href="/memos/<%= memo['id'] %>"><%= h(memo['title']) %></a></li>
    </ul>
  <% end %>
</body>
</html>
