<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <h1>メモアプリ</h1>
  <strong>タイトル</strong>
  <div>
    <%= escape_html(@title) %>
  </div>
    <strong>本文</strong>
  <div>
    <%= escape_html(@content) %>
  </div>
  <form method="get" action="/memos/<%= params[:id] %>/edit">
    <input type="submit" class="submit-button" value="変更">
  </form>
  <form method="post" action="/memos/<%= params[:id] %>">
    <input type="hidden" name="_method" value="delete">
    <input type="submit" class="submit-button" value="削除">
  </form>
  <form method="get" action="/">
  <input type="submit" class="submit-button" value="戻る">
  </form>
  </body>
</html>
